extend templates/navbar.pug

block titleconfig
    title SITE | Dashboard

block navconfig
    //- .brand-logo.center Dashboard
    .brand-logo.center= title
block content
    main
        .parent1
            .child1-1
                h2.center Schedule
                
                table.striped.scheduleTable
                    thead
                        tr 
                            th Class
                            th.right-align Time
                    tbody
                        tr
                            td Hon Geometry
                            td.right-align 8:00am
                        tr  
                            td Algebra I
                            td.right-align 10:30am
                        tr 
                            td Geometry
                            td.right-align 12:00pm
                        tr 
                            td Other
                            td.right-align 2:00pm
                        tr
                            td Just filling
                            td.right-align 4:30pm
            .child1-2
                .row
                    .col.s12.m6
                        h1 00:00:00PM
                    .col.s12.m6
                        h1 Monday, Month day, 2017
                .row
                    .col.s12
                        h1 Apps:
                .row
                    .col.s1
                    .col.s2
                        img(src="https://placehold.it/100x100")
                    .col.s2
                        img(src="https://placehold.it/100x100")
                    .col.s2
                        img(src="https://placehold.it/100x100")
                    .col.s2
                        img(src="https://placehold.it/100x100")
                    .col.s2
                        img(src="https://placehold.it/100x100?text=All+apps")
                    
        .parent2
            .child2-1
                h3.center Announcements
                br
                br
                br
                br
                br
                br
                br
            .child2-2
                h3.center Events
    