doctype 
html(lang="en")
head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block titleconfig
        title SITE
    block stylesheets
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="css/materialize.css")
        link(rel="stylesheet" href="css/main.css")
body
    block navbar
    block content
    block scripts
    script(src="js/jquery.js")
    script(src="js/dropzone.js")
    script(src="js/materialize.js")
    script(src="js/script.js")
    block foot
        footer.page-footer
            .container
                .row
                    .col.l6.s12
                        h5.white-text Footer Content
                        p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content
                    .col.l4.offset-l2.s12
                        h5.white-text Links
                        ul
                            li
                                a.grey-text.text-lighten-3(href="#!") Link 1
                            li
                                a.grey-text.text-lighten-3(href="#!") Link 2
                            li
                                a.grey-text.text-lighten-3(href="#!") Link 3
                            li
                                a.grey-text.text-lighten-3(href="#!") Link 4
            .footer-copyright
                .container
                    p 2014 Copyright Text
                    a.grey-text.text-lighten-4.right(href="#!") More Links          